.home {
  min-height: 60vh; /* make the footer stay at the bottom */
}

.title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  margin-bottom: 20px;
}

.small-nav {
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.title-link {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding: 2px 40px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 60px;
  text-decoration: none;
}

.home-button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

.home-button svg {
  padding-left: 5px;
}